{% extends 'base.html' %}
+
{% block chamada %}Catalogar{% endblock %}
+
{% block corpo %}

    <h1>Catalogar publicação</h1>
    {% if erros %}
        <ul>
            {% for erro in erros %}
            <li>{{ erro }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1">
            {{ formulario.as_table }}
            <tr><td colspan="2">
                <table border="1">
                    {{ formset.as_table }}
                </table>
            </td></tr>
            <tr><td><input type="submit" value="Enviar"></td></tr>
        </table>
    </form>
<hr>    
    
{% endblock corpo %}
