body {
	font-family: 'helvetica', 'verdana', sans-serif;
	font-size: 12pt;
	color: rgb(35,32,31);
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

div.header div {
	height: 150px;
	position: relative;
	width: 696px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

div.menu div ul {
	list-style-type: none;
	text-align: left;
}

div.menu div ul li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}